// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-number {
    border: none;
    text-align: right;
    width: 100%;
    height: 100%;
}

.order-table tr {
    height: 50px;
}